.number_0,
.number_1,
.number_2,
.number_3,
.number_4,
.number_5,
.number_6,
.number_7,
.number_8,
.number_9 {
  background-image: url('./img/minesweeper.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  scale: 2;
  margin-right: 1px;
}

.number_0 {
  background-position: -17px -50px;
}

.number_1 {
  background-position: left -67px;
}

.number_2 {
  background-position: -17px -67px;
}

.number_3 {
  background-position: -34px -67px;
}

.number_4 {
  background-position: -51px -67px;
}

.number_5 {
  background-position: -68px -67px;
}

.number_6 {
  background-position: -85px -67px;
}

.number_7 {
  background-position: -102px -67px;
}

.number_8 {
  background-position: -119px -67px;
}