.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-space {
  width: 556px;
  height: 640px;
  background-color: #bebebe;
  border-top: 4px solid #f8f9f9;
  border-left: 4px solid #f8f9f9;
  box-shadow: 5px 5px 3px 0px rgba(126, 126, 126, 1);
}

.timer {
  display: flex;
  justify-content: space-around;
  width: 500px;
  height: 60px;
  margin: 20px 28px;
  border-bottom: 4px solid #f8f9f9;
  border-right: 4px solid #f8f9f9;
  box-shadow: -4px -4px 3px -1px rgba(126, 126, 126, 0.9);
}

.field {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  width: 500px;
  height: 500px;
  margin: 33px 36px;
}

.timer__counter,
.timer__stopwatch {
  display: flex;
  width: 100px;
  height: 50px;
  background-color: black;
  color: white; // убрать потом
  margin-top: 5px;
}

.timer__counter0,
.timer__counter1, 
.timer__counter2,
.timer__stopwatch0,
.timer__stopwatch1,
.timer__stopwatch2 {
   width: 40px;
   margin: 15px 10px 0 0;
}

.timer__counter0,
.timer__stopwatch0 {
  margin-left: 21px;
}
 
.timer__restart {
  background-image: url(https://davmedia.test.tech-mail.ru/editor_uploads/2023/02/07/minesweeper-sprites_9TPZzv3.png);
  background-repeat: no-repeat;
  background-position: left -25px;
  width: 25px;
  height: 25px;
  scale: 1.7;
  margin-top: 15px;
}

.timer__restart_mousedown {
  background-position: -55px -25px;
}

.timer__restart_lost {
  background-position: -109px -25px;
}

.game-cell {
  background-image: url(https://davmedia.test.tech-mail.ru/editor_uploads/2023/02/07/minesweeper-sprites_9TPZzv3.png);
  background-repeat: no-repeat;
  background-position: left -50px;
  width: 18px;
  height: 18px;
  scale: 2;
  margin-right: 1px;
  &:hover {
    filter: contrast(1.6);
  }
}

.game-cell__bomb,
.game-cell__bomb_red {
  background-image: url(https://davmedia.test.tech-mail.ru/editor_uploads/2023/02/07/minesweeper-sprites_9TPZzv3.png);
  background-repeat: no-repeat;
  background-position: -85px -50px;
  width: 18px;
  height: 18px;
  scale: 2;
  margin-right: 1px;
}

.game-cell__bomb_red {
  background-position: -103px -50px;
}

.number_0,
.number_1,
.number_2,
.number_3,
.number_4,
.number_5,
.number_6,
.number_7,
.number_8,
.number_9 {
  background-image: url(https://davmedia.test.tech-mail.ru/editor_uploads/2023/02/07/minesweeper-sprites_9TPZzv3.png);
  background-repeat: no-repeat;
  width: 14px;
  height: 23px;
  scale: 1.7;
}

.number_0 {
  background-position: -126px top;
}

.number_1 {
  background-position: left top;
}

.number_2 {
  background-position: -14px top;
}

.number_3 {
  background-position: -28px top;
}

.number_4 {
  background-position: -42px top;
}

.number_5 {
  background-position: -56px top;
}

.number_6 {
  background-position: -70px top;
}

.number_7 {
  background-position: -84px top;
}

.number_8 {
  background-position: -98px top;
}

.number_9 {
  background-position: -112px top;
}
